<a href="https://colab.research.google.com/github/garrettcl1/portfolio/blob/main/biological_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview and references

You will search several remote biological databases for gene sequences, annotations, and relationships between genes. You will then import the data you’ve found into a database that you will design.


For this lab, you will import data of a particular type (e.g., a gene sequence, annotation, or pathway) into an appropriated-designed table and perform table joins that link together the data you’ve retrieved.


You are expected to keep a thorough record of everything you did in your notebook. Any data that you’ve pulled from a web browser should be noted in this notebook.

### SQLite
https://www.tutorialspoint.com/sqlite/index.htm https://docs.python.org/3/library/sqlite3.html

### Relational Databases
https://en.wikipedia.org/wiki/Relational_database https://mariadb.com/kb/en/library/relational-databases-basic-terms/ https://en.wikipedia.org/wiki/Associative_entity

### BioPython
https://biopython.org/DIST/docs/api/Bio.Entrez-module.html

### Pandas
https://pandas.pydata.org/pandas-docs/stable/index.html

### Biological Databases
https://genome.ucsc.edu/ https://www.ncbi.nlm.nih.gov/search/ https://reactome.org/ https://pfam.xfam.org/ https://www.genome.jp/kegg/

### Capturing printed output
If there is a very long printed statement that is not relevant for grading, you can capture it using python magic. Just put `%%capture` as the first line of any cell to capture it’s output. This will make your notebook easier to follow when grading

# Background 

The lab you’re working in studies metabolism. Over the years, many students and post-docs have studied enzymes from organisms across the tree of life, from flies, worms, mice, and E. coli. Your PI wants you to build a database of these enzymes that future researchers in the lab can use going forward.


# Database Design

For this assignment, we’ll focus on three pathways: 

1. glycolysis
2. the citric acid cycle
3. the pentose phosphate pathway. 

We will consider genes in these pathways from 

1. Drosophila melanogaster
2. Homo sapiens 

And we will construct the following tables:

*Note: There is no requirement to answer the questions below, they are simply to get you thinking about the tables you'll create later in the lab.*

**Pathway Table**. Should include at least name and description. What fields should be included to enable joins with other tables?

**Enzyme Table**. Should include at least name, function, and enzyme commission (EC) number. What fields should be included to enable joins with other tables?

**Gene Table**. Should include at least name, description, organism, and nucleotide sequence. What fields should be included to enable joins with other tables?

# Visualization
Pandas provides a useful python interface for working with data tables. In this lab, we will use pandas DataFrames for visualization only. The rest of the lab should have been completed using SQL (and python interface to it). Read your SQL tables using the [`pandas.read_sql`](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html) method.

# Part 1: Database/table creation


Now try creating your database tables by using the function below. You might have to delete and re-create your database (the file) if mistakes are made and perform one final execution with the correct code.

We have provided the `execute_sql_command()` function for you to use throughout the lab. The `CREATE TABLE` command can be executed like this :

```python
command = """
    CREATE TABLE <fill in your code>
"""
execute_sql_command(command)
```

In [ ]:
import sqlite3
def execute_sql_command(command: str, database_name: str = "lab3.db") -> None:
    """
    Function to execute a SQL command from Python.
    
    Parameters
    ----------
    command: str
        SQL command (use strings with three quotes on each side
        so that it can be a multiline string
    database_name: str
        File name of the database (e.g, "my.db")
    
    Returns
    -------
    No return, executes the command
    """
    
    # will create if not present
    conn = sqlite3.connect(database_name)
    c = conn.cursor()
    
    c.execute(command)
    # saves the changes
    conn.commit()

### Part 1.1: Create pathways table

In [ ]:

command = """
    CREATE TABLE Pathway
        (name TEXT,
        description TEXT);
"""
execute_sql_command(command)

### Part 1.2: Create enzymes table

In [ ]:

command = """
    CREATE TABLE Enzyme
        (name TEXT,
        function TEXT,
        EC TEXT,
        pathway TEXT);
"""
execute_sql_command(command)

### Part 1.3: Create genes table

In [ ]:

command = """
    CREATE TABLE Gene 
        (name TEXT,
        description TEXT,
        organism TEXT,
        nucleotide sequence TEXT,
        EC TEXT);
"""
execute_sql_command(command)

# Searching databases and compiling data

A good place to start will be this map of glycolysis from KEGG: 

https://www.genome.jp/kegg-bin/show_pathway?map00010
    
There are a lot of genes in these pathways and how thoroughly you curate your database is up to you, but for the sake of time:

1. Pick 4 enzymes from each of glycolysis, TCA cycle, and pentose phosphate. These enzymes should be relevant for both species. Look for "change pathway type" in the Kegg pathway map.
2. Inspect information and sequences from Drosophila and human for those enzymes in KEGG database (no need to add anything in this notebook for this step, just inspect for yourself).

# INSERTing your data into your database

- In your pathways table, you should have a row per pathway (3 in total).
- In your enzymes table, you should have one row per enzyme (12 in total).
- In your gene table, you’ll be creating `4 enzymes * 3 pathways * 2 organisms = 24 rows`.

# Part 2: populate pathways table
For each pathway, insert a row into the database using the `INSERT` operation. Once you are done, print the contents of the table using `SELECT` and `pd.read_sql`.

In [ ]:
command = """
    INSERT INTO Pathway
        (name,
        description)
        VALUES
        ('glycolysis',
        'the breakdown of glucose by enzymes, releasing energy and pyruvic acid');
"""
execute_sql_command(command)
        
command = """       
    INSERT INTO Pathway
        (name,
        description)
        VALUES
        ('citric acid cycle',
        'the main source of energy for cells and an important part of aerobic respiration');
"""
execute_sql_command(command)
        
command = """
    INSERT INTO Pathway
        (name,
        description)
        VALUES
        ('pentose phosphate pathway',
         'an alternative to glycolysis and generates NADPH and pentoses');
"""
execute_sql_command(command)

con=sqlite3.connect('lab3.db')
import pandas as pd
df = pd.read_sql('SELECT * FROM Pathway', con)
print(df)

                        name  \
0                 glycolysis
1          citric acid cycle
2  pentose phosphate pathway

                                         description
0  the breakdown of glucose by enzymes, releasing...
1  the main source of energy for cells and an imp...
2  an alternative to glycolysis and generates NAD...

# Part 3: populate enzymes table
Similarly, populate the enzymes table and print its contents.

In [ ]:
command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('pyruvate oxidoreductase',
         'oxidative decarboxylation of pyruvate to acetyl-CoA',
         '1.2.7.1',
         'glycolysis');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('glucose-6-phosphatase',
         'produces D-glucose and phosphate',
         '3.1.3.9',
         'glycolysis');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('hexokinase',
         'converts ATP to ADP',
         '2.7.1.1',
         'glycolysis');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('fructose-bisphosphatase',
         'oxidative decarboxylation of pyruvate to acetyl-CoA',
         '3.1.3.11',
         'glycolysis');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('phosphoenolpyruvate carboxykinase',
         'enzyme in the lyase family used in the metabolic pathway of gluconeogenesis',
         '4.1.1.32',
         'citric acid cycle');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('dihydrolipoyllysine-residue acetyltransferase',
         'responsible for the pyruvate decarboxylation step that links glycolysis to the citric acid cycle',
         '2.3.1.12',
         'citric acid cycle');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('pyruvate dehydrogenase',
         'catalyzes the reaction of pyruvate and a lipoamide to give the acetylated dihydrolipoamide and carbon dioxide',
         '1.2.4.1',
         'citric acid cycle');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('pyruvate carboxylase',
         'catalyzes the physiologically irreversible carboxylation of pyruvate to form oxaloacetate',
         '6.4.1.1',
         'citric acid cycle');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('glucose-6-phosphate isomerase',
         'catalyses the reversible conversion specifically between the alpha-D-glucose 6-phosphate and beta-D-fructofuranose 6-phosphate',
         '5.3.1.9',
         'pentose phosphate pathway');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('glucose-6-phosphate dehydrogenase',
         'catalyses a step of the pentose phosphate pathway',
         '1.1.1.363',
         'pentose phosphate pathway');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('6-phosphogluconolactonase',
         'produces 6-phospho-D-gluconate',
         '3.1.1.31',
         'pentose phosphate pathway');
"""
execute_sql_command(command)

command = """
    INSERT INTO Enzyme
        (name,
        function,
        EC,
        pathway)
        VALUES
        ('transketolase',
         'converts hydroxypyruvate and R-CHO into CO2 and R-CHOH-CO-CH2OH',
         '2.2.1.1',
         'pentose phosphate pathway');
"""
execute_sql_command(command)


df = pd.read_sql('SELECT * FROM Enzyme', con)
print(df)

                                             name  \
0                         pyruvate oxidoreductase
1                           glucose-6-phosphatase
2                                      hexokinase
3                         fructose-bisphosphatase
4               phosphoenolpyruvate carboxykinase
5   dihydrolipoyllysine-residue acetyltransferase
6                          pyruvate dehydrogenase
7                            pyruvate carboxylase
8                   glucose-6-phosphate isomerase
9               glucose-6-phosphate dehydrogenase
10                      6-phosphogluconolactonase
11                                  transketolase

                                             function         EC  \
0   oxidative decarboxylation of pyruvate to acety...    1.2.7.1
1                    produces D-glucose and phosphate    3.1.3.9
2                                 converts ATP to ADP    2.7.1.1
3   oxidative decarboxylation of pyruvate to acety...   3.1.3.11
4   enzyme in the lyase family used in the metabol...   4.1.1.32
5   responsible for the pyruvate decarboxylation s...   2.3.1.12
6   catalyzes the reaction of pyruvate and a lipoa...    1.2.4.1
7   catalyzes the physiologically irreversible car...    6.4.1.1
8   catalyses the reversible conversion specifical...    5.3.1.9
9   catalyses a step of the pentose phosphate pathway  1.1.1.363
10                     produces 6-phospho-D-gluconate   3.1.1.31
11  converts hydroxypyruvate and R-CHO into CO2 an...    2.2.1.1

                      pathway
0                  glycolysis
1                  glycolysis
2                  glycolysis
3                  glycolysis
4           citric acid cycle
5           citric acid cycle
6           citric acid cycle
7           citric acid cycle
8   pentose phosphate pathway
9   pentose phosphate pathway
10  pentose phosphate pathway
11  pentose phosphate pathway

# Part 4: retrieve gene information

For genes, you will now automate this process using `Bio.Entrez`, which can be used to pull entire annotations for each enzyme from each organism—and more. You will ask it to return data as `GenBank` and later will use `Bio.SeqIO` to read the written `GenBank` file.

For this part, complete the commented code in the function below.

In [ ]:
!conda install -y -q -c conda-forge biopython

from Bio import Entrez
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq


Entrez.email = 'gcleary@berkeley.edu'


def save_enzyme(ec_number: str, organism: str, file: str) -> None:
    """
    Pull and save most relevant annotation for enzyme/organism pair
    
    Parameters
    ----------
    ec_number: str
        Number assigned by the Enzyme Commission to designate a particular enzyme 
        or by the Chemical Abstracts Service (CAS) for Registry Numbers. 
    organism: str
        Organism name
    file: str
        Name of saved file. SHOULD HAVE .gb extension
        Points will be deducted if these files are committed to the repo.
    
    Returns
    -------
    No return, executes the command
    """
    term = ec_number  + " AND " + organism + "[Organism] AND 1:10000[SLEN]"
    handle = Entrez.esearch(db = 'nucleotide',
                           term = term ,
                           sort = 'relevance',
                           idtype = 'acc')
    
    for i in Entrez.read(handle)['IdList']:
        handle = Entrez.efetch(db = 'nucleotide', id = i, rettype = 'gb', retmode = 'text', retmax=1)
        seq = SeqIO.read(handle, 'genbank')
        if seq.annotations['organism'] == organism:
            with open(file, 'w') as f:
                SeqIO.write(seq, f, "genbank")
            # write the sequence to file using `SeqIO.write` in genbank (.gb) format.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Run `save_enzyme` 24 times (`4 enzymes * 3 pathways * 2 organisms = 24`). This can take a while.

In [ ]:
for i in Enzyme
    save_enzyme()

# Part 5: populate genes table

Since we managed to pull the data directly into `genbank` files using `Bio.Entrez`, a for loop over the files can be used to insert your data into your table (make sure to use `execute_sql_command`). Print the table contents.

*Note: For the purpose of this assignment, add to the table only one gene per enzyme and organism. If there are multiple genes associated with an enzyme and organism, you can pick one arbitrarily.*

In [ ]:
# code here

# Part 6: Query data with JOIN

You should have added fields to your tables to link data together. For this part of the lab we would like to retrieve information from the three tables and print it with `pd.read_sql`.

### Part 6.1
Make a join of the three tables and display the results.

*Note: You must use the SQL JOIN command and not pandas to do joining.*

In [ ]:
result = pd.read_sql(JOIN Enzyme on Pathway.name=Enzyme.pathway)
pd.read_sql(JOIN result on Gene.EC=result.EC)

### Part 6.2
Retrieve just the description of all the genes associated with glycolisis.

In [ ]:
command = """
    SELECT description
    FROM Gene
    WHERE pathway=='glycolysis'
"""
execute_sql_command(command)

### Part 6.3
Are the joins one-to-one, one-to-many, or many-to-many?

### Answer

one-to-many

# Submission

1. Commit and push this notebook,
2. Git add and commit the database file (then push)
3. Submit repo link on GitHub